<h1>People#index</h1>

<p>
    Includes: 
    <%= link_to 'without includes, plain person data', people_path() %> | 
    <%= link_to 'with selected includes (tels emails)', people_path(includes: 'selected') %> | 
    <%= link_to 'with all includes', people_path(includes: 'all') %>
</p>

<p>
    Order: 
    <%= link_to 'name ASC', people_path(order: 'name-asc') %> | 
    <%= link_to 'updated_at DESC', people_path(order: 'updated_at-desc') %> | 
    <%= link_to 'created_at ASC', people_path(order: 'created_at-asc') %> 
</p>

<%= content_tag(:ul) do %>
  <% @people.each do |person| %>
    <%#= person["tels"].tels %>
    <%#= person.inspect %>
    <%= content_tag :li do %>
      <%= link_to person.natural_name, person_path(person) %>

      <% if person.respond_to? :emails and person.emails %>
        <br/>
        <%= person.emails.first.try(:name) || '-' %>
      <% end %>

      <% if params[:includes] == 'all' %>
        <br/>
        <%= person.tags.map(&:name).join(',') || '-'%>
      <% end %>
    <% end %>
  <% end %>
<% end %>